body {
    background-color: gray;
    margin-left: 4%;
    margin-right: 40%;
    word-wrap: break-word;
}


#head-title {
    margin-top: 7%;
    margin-bottom: 7%;
}

.pattern-title {
    font-size: 1.5em;
}

.explanation-element {
    font-size: 1em;
}

.div-sentences {
    font-size : 0.7em;
    font-weight: 500;
}

.meaningP {
    color : blue;
}